.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            &:not(:last-child) {
                margin-bottom: 1.6rem;
            }
        }
    }

    h1 {
        margin-bottom: 4.8rem;
    }
}
